<!DOCTYPE html>
<html lang="en">
    <head> New Email</head>
    <body>
        
<div style="width: 100%; height: 100%; padding-top: 41px; padding-bottom: 41.07px; padding-left: 40px; padding-right: 31px; background: #020102; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
    <div style="align-self: stretch; height: 905.93px; border-radius: 10px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="width: 99.20px; height: 38.93px; position: relative">
            <div style="width: 24.65px; height: 38.78px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 0.52px; display: inline-flex">
                <div style="width: 24.65px; height: 17.36px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="width: 10.58px; height: 17.36px; transform: rotate(-180deg); transform-origin: 0 0; background: #FF6DFB"></div>
                    <div style="width: 10.58px; height: 17.36px; background: #FF6DFB"></div>
                </div>
                <div style="width: 20.25px; height: 20.90px; background: white"></div>
            </div>
            <div style="width: 69.59px; height: 20.90px; left: 21.34px; top: 17.96px; position: absolute; background: white"></div>
            <div style="width: 8.27px; height: 9.32px; left: 90.94px; top: 10.97px; position: absolute; background: white"></div>
        </div>
        <div style="align-self: stretch; height: 724px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 72px; display: flex">
            <div style="align-self: stretch; height: 247px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
                <div style="width: 595px; height: 207px; position: relative; background: #FFDD55; border-radius: 4px; overflow: hidden">
                    <div style="height: 71.97px; padding-bottom: 12.99px; padding-left: 12.99px; padding-right: 12.99px; left: -4px; top: -6.93px; position: absolute; opacity: 0.10; background: white; border: 0.54px #1E1E1E solid; flex-direction: column; justify-content: center; align-items: center; gap: 12.99px; display: inline-flex">
                        <div style="justify-content: center; align-items: center; display: inline-flex">
                            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4.59px; display: inline-flex">
                                <div style="justify-content: flex-start; align-items: flex-start; gap: 4.47px; display: inline-flex">
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                </div>
                                <div style="justify-content: flex-start; align-items: flex-start; gap: 4.47px; display: inline-flex">
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                    <div style="width: 45.82px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 0.97px; display: inline-flex">
                                        <div style="width: 45.82px; height: 32.27px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                            <div style="width: 19.66px; height: 32.27px; background: #190B19"></div>
                                            <div style="width: 19.66px; height: 32.27px; transform: rotate(-180deg); transform-origin: 0 0; background: #190B19"></div>
                                        </div>
                                        <div style="width: 37.64px; height: 31.01px; background: #190B19"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 322.29px; height: 197.07px; left: 273px; top: 20.07px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                        <div style="width: 322.29px; height: 197.07px; position: relative">
                            <div style="width: 322.29px; height: 197.07px; left: 0px; top: 0px; position: absolute; background: black"></div>
                            <div style="width: 420.20px; height: 501.96px; left: 0px; top: 0px; position: absolute">
                                <div style="width: 322.29px; height: 197.07px; left: 0px; top: 0px; position: absolute"></div>
                                <div style="width: 384.73px; height: 384.56px; left: 35.47px; top: 117.39px; position: absolute; background: rgba(168, 227, 216, 0.90)"></div>
                                <div style="width: 182.11px; height: 135.46px; left: 116.99px; top: 30.79px; position: absolute">
                                    <div style="width: 56.74px; height: 103.55px; left: 121.34px; top: 28.80px; position: absolute; background: #1E1E1E"></div>
                                    <div style="width: 182.11px; height: 135.46px; left: 0px; top: 0px; position: absolute">
                                        <div style="width: 182.11px; height: 135.46px; left: 0px; top: 0px; position: absolute; background: black"></div>
                                        <div style="width: 8.54px; height: 23.95px; left: 66.01px; top: 10.08px; position: absolute; background: black"></div>
                                        <div style="width: 8.24px; height: 8.70px; left: 126.24px; top: 63.77px; position: absolute; background: black"></div>
                                        <div style="width: 6.58px; height: 7.28px; left: 134.37px; top: 23.49px; position: absolute; background: black"></div>
                                        <div style="width: 3.63px; height: 5.39px; left: 130.21px; top: 35.73px; position: absolute; background: black"></div>
                                        <div style="width: 3.78px; height: 2.78px; left: 67.07px; top: 20.75px; position: absolute; background: black"></div>
                                        <div style="width: 2.09px; height: 4.28px; left: 64.22px; top: 11.50px; position: absolute; background: black"></div>
                                        <div style="width: 2.54px; height: 2.37px; left: 131.13px; top: 108.78px; position: absolute; background: black"></div>
                                        <div style="width: 1.09px; height: 5.43px; left: 151.61px; top: 38.02px; position: absolute; background: black"></div>
                                        <div style="width: 2.98px; height: 5.43px; left: 131.26px; top: 93.85px; position: absolute; background: black"></div>
                                        <div style="width: 0.46px; height: 1.90px; left: 173.74px; top: 95.26px; position: absolute; background: black"></div>
                                        <div style="width: 0.70px; height: 1.60px; left: 130.56px; top: 92.26px; position: absolute; background: black"></div>
                                        <div style="width: 0.05px; height: 1.68px; left: 136.28px; top: 120.64px; position: absolute; background: black"></div>
                                        <div style="width: 1.12px; height: 0.29px; left: 70.55px; top: 31.55px; position: absolute; background: black"></div>
                                        <div style="width: 1.16px; height: 0.12px; left: 144.79px; top: 128.10px; position: absolute; background: black"></div>
                                        <div style="width: 0.02px; height: 1.24px; left: 133.73px; top: 115.55px; position: absolute; background: black"></div>
                                        <div style="width: 0.07px; height: 1.32px; left: 141.67px; top: 109.11px; position: absolute; background: black"></div>
                                        <div style="width: 0.06px; height: 1.15px; left: 136.40px; top: 109.68px; position: absolute; background: black"></div>
                                        <div style="width: 0.06px; height: 1.03px; left: 147.91px; top: 114.23px; position: absolute; background: black"></div>
                                        <div style="width: 1.13px; height: 0.15px; left: 77.29px; top: 122.87px; position: absolute; background: black"></div>
                                        <div style="width: 0.02px; height: 1.01px; left: 117px; top: 19.40px; position: absolute; background: black"></div>
                                        <div style="width: 1.16px; height: 0.09px; left: 78.42px; top: 28.64px; position: absolute; background: black"></div>
                                        <div style="width: 0.13px; height: 1px; left: 159.29px; top: 28.94px; position: absolute; background: black"></div>
                                        <div style="width: 0.05px; height: 1.06px; left: 67.95px; top: 29.49px; position: absolute; background: black"></div>
                                        <div style="width: 0.78px; height: 0.01px; left: 162.84px; top: 135.43px; position: absolute; background: black"></div>
                                        <div style="width: 1.03px; height: 0.09px; left: 59.22px; top: 0.06px; position: absolute; background: black"></div>
                                        <div style="width: 0.66px; height: 0px; left: 94.05px; top: 131.01px; position: absolute; background: black"></div>
                                        <div style="width: 1.01px; height: 0.10px; left: 127.28px; top: 38.14px; position: absolute; background: black"></div>
                                        <div style="width: 0.06px; height: 0.83px; left: 143.52px; top: 129.60px; position: absolute; background: black"></div>
                                        <div style="width: 0.99px; height: 0.13px; left: 106.25px; top: 34.57px; position: absolute; background: black"></div>
                                        <div style="width: 0.99px; height: 0.15px; left: 62.22px; top: 0.05px; position: absolute; background: black"></div>
                                        <div style="width: 0.96px; height: 0.09px; left: 53.28px; top: 32.78px; position: absolute; background: black"></div>
                                        <div style="width: 1.01px; height: 0.10px; left: 73.31px; top: 122.59px; position: absolute; background: black"></div>
                                        <div style="width: 0.98px; height: 0.15px; left: 81.69px; top: 28.31px; position: absolute; background: black"></div>
                                        <div style="width: 0.01px; height: 0.85px; left: 136.27px; top: 117.21px; position: absolute; background: black"></div>
                                        <div style="width: 0.11px; height: 1.03px; left: 174.04px; top: 93.97px; position: absolute; background: black"></div>
                                        <div style="width: 0.07px; height: 0.88px; left: 131.57px; top: 115.23px; position: absolute; background: black"></div>
                                        <div style="width: 0.64px; height: 0.27px; left: 20.87px; top: 113.42px; position: absolute; background: black"></div>
                                        <div style="width: 0.06px; height: 0.76px; left: 143.81px; top: 112.79px; position: absolute; background: black"></div>
                                        <div style="width: 0.83px; height: 0.11px; left: 74.45px; top: 29.05px; position: absolute; background: black"></div>
                                        <div style="width: 0px; height: 0.75px; left: 133.57px; top: 111.38px; position: absolute; background: black"></div>
                                        <div style="width: 0px; height: 0.71px; left: 116.94px; top: 21.87px; position: absolute; background: black"></div>
                                        <div style="width: 0.08px; height: 0.75px; left: 16.36px; top: 77.12px; position: absolute; background: black"></div>
                                        <div style="width: 0.04px; height: 0.70px; left: 181.46px; top: 93.51px; position: absolute; background: black"></div>
                                        <div style="width: 0.85px; height: 0.15px; left: 38.34px; top: 124.96px; position: absolute; background: black"></div>
                                        <div style="width: 0.13px; height: 0.70px; left: 72.33px; top: 15.02px; position: absolute; background: black"></div>
                                        <div style="width: 0.06px; height: 0.69px; left: 49.61px; top: 12.06px; position: absolute; background: black"></div>
                                        <div style="width: 0.03px; height: 0.77px; left: 143.68px; top: 93.03px; position: absolute; background: black"></div>
                                        <div style="width: 0.02px; height: 0.72px; left: 141.85px; top: 106.97px; position: absolute; background: black"></div>
                                        <div style="width: 0.53px; height: 0px; left: 109.10px; top: 130.18px; position: absolute; background: black"></div>
                                        <div style="width: 0.53px; height: 0.01px; left: 22.31px; top: 130.30px; position: absolute; background: black"></div>
                                        <div style="width: 3.61px; height: 5.50px; left: 126.38px; top: 103.68px; position: absolute; background: black"></div>
                                        <div style="width: 1.54px; height: 6.37px; left: 122.45px; top: 93.74px; position: absolute; background: black"></div>
                                        <div style="width: 0.04px; height: 1.67px; left: 126.63px; top: 111.40px; position: absolute; background: black"></div>
                                        <div style="width: 1.71px; height: 0.15px; left: 16.48px; top: 126.56px; position: absolute; background: black"></div>
                                        <div style="width: 0.01px; height: 1.43px; left: 126.67px; top: 109.56px; position: absolute; background: black"></div>
                                        <div style="width: 0.96px; height: 0.05px; left: 102.31px; top: 54.38px; position: absolute; background: black"></div>
                                        <div style="width: 0px; height: 1.16px; left: 108.49px; top: 41.45px; position: absolute; background: black"></div>
                                        <div style="width: 0.56px; height: 0.56px; left: 101.17px; top: 51.72px; position: absolute; background: black"></div>
                                        <div style="width: 0.06px; height: 1.03px; left: 117.94px; top: 72.72px; position: absolute; background: black"></div>
                                        <div style="width: 1.15px; height: 0.08px; left: 24.56px; top: 126.72px; position: absolute; background: black"></div>
                                        <div style="width: 1.14px; height: 0.01px; left: 105.26px; top: 80.18px; position: absolute; background: black"></div>
                                        <div style="width: 0.80px; height: 0.01px; left: 115.38px; top: 38.34px; position: absolute; background: black"></div>
                                        <div style="width: 1px; height: 0.16px; left: 171.60px; top: 131.25px; position: absolute; background: black"></div>
                                        <div style="width: 0.68px; height: 0.02px; left: 30.99px; top: 85.09px; position: absolute; background: black"></div>
                                        <div style="width: 0.40px; height: 0.55px; left: 151.38px; top: 35.14px; position: absolute; background: black"></div>
                                        <div style="width: 0.03px; height: 0.88px; left: 47.22px; top: 105.12px; position: absolute; background: black"></div>
                                        <div style="width: 0.05px; height: 0.91px; left: 123.61px; top: 105.24px; position: absolute; background: black"></div>
                                        <div style="width: 0.04px; height: 0.91px; left: 176.94px; top: 74.40px; position: absolute; background: black"></div>
                                        <div style="width: 1.02px; height: 0.09px; left: 73.98px; top: 108.95px; position: absolute; background: black"></div>
                                        <div style="width: 0.05px; height: 0.91px; left: 120.80px; top: 84.64px; position: absolute; background: black"></div>
                                        <div style="width: 1.02px; height: 0.09px; left: 61.48px; top: 91.31px; position: absolute; background: black"></div>
                                        <div style="width: 0.66px; height: 0px; left: 90.93px; top: 117.82px; position: absolute; background: black"></div>
                                        <div style="width: 0.04px; height: 0.85px; left: 110.87px; top: 43.74px; position: absolute; background: black"></div>
                                        <div style="width: 0.99px; height: 0.15px; left: 115.76px; top: 112.31px; position: absolute; background: black"></div>
                                        <div style="width: 0.66px; height: 0.03px; left: 75.73px; top: 31.37px; position: absolute; background: black"></div>
                                        <div style="width: 0.06px; height: 0.85px; left: 130.01px; top: 116.80px; position: absolute; background: black"></div>
                                        <div style="width: 0.55px; height: 0px; left: 111.40px; top: 85.82px; position: absolute; background: black"></div>
                                        <div style="width: 0px; height: 0.70px; left: 119.64px; top: 95.36px; position: absolute; background: black"></div>
                                        <div style="width: 0.82px; height: 0.11px; left: 107.96px; top: 113.20px; position: absolute; background: black"></div>
                                        <div style="width: 0.89px; height: 0.12px; left: 96.14px; top: 79.09px; position: absolute; background: black"></div>
                                        <div style="width: 0.51px; height: 0px; left: 110.98px; top: 50.30px; position: absolute; background: black"></div>
                                        <div style="width: 0.53px; height: 0.01px; left: 60.39px; top: 93.92px; position: absolute; background: black"></div>
                                        <div style="width: 0.89px; height: 0.14px; left: 26.83px; top: 82.35px; position: absolute; background: black"></div>
                                        <div style="width: 0.05px; height: 0.68px; left: 176.91px; top: 82.84px; position: absolute; background: black"></div>
                                        <div style="width: 0.08px; height: 0.74px; left: 101.74px; top: 118.36px; position: absolute; background: black"></div>
                                        <div style="width: 0.90px; height: 0.12px; left: 53.95px; top: 89.75px; position: absolute; background: black"></div>
                                        <div style="width: 0.87px; height: 0.10px; left: 122.03px; top: 46.41px; position: absolute; background: black"></div>
                                        <div style="width: 0.08px; height: 0.78px; left: 97.76px; top: 125.45px; position: absolute; background: black"></div>
                                        <div style="width: 0px; height: 0.72px; left: 123.62px; top: 107.71px; position: absolute; background: black"></div>
                                        <div style="width: 0.84px; height: 0.11px; left: 18.33px; top: 126.70px; position: absolute; background: black"></div>
                                        <div style="width: 0.84px; height: 0.15px; left: 23.59px; top: 126.66px; position: absolute; background: black"></div>
                                        <div style="width: 0.82px; height: 0.10px; left: 74.30px; top: 93.45px; position: absolute; background: black"></div>
                                        <div style="width: 0.84px; height: 0.11px; left: 104.84px; top: 127.98px; position: absolute; background: black"></div>
                                        <div style="width: 0.86px; height: 0.11px; left: 95.04px; top: 128.41px; position: absolute; background: black"></div>
                                        <div style="width: 0.04px; height: 0.69px; left: 110.73px; top: 45.45px; position: absolute; background: black"></div>
                                        <div style="width: 0.08px; height: 0.73px; left: 43.49px; top: 99.74px; position: absolute; background: black"></div>
                                        <div style="width: 0.02px; height: 0.72px; left: 108.56px; top: 38.77px; position: absolute; background: black"></div>
                                        <div style="width: 0.07px; height: 0.74px; left: 54.01px; top: 97.75px; position: absolute; background: black"></div>
                                        <div style="width: 0.87px; height: 0.10px; left: 54.95px; top: 89.75px; position: absolute; background: black"></div>
                                        <div style="width: 3.36px; height: 9.57px; left: 97.79px; top: 118.10px; position: absolute; background: black"></div>
                                        <div style="width: 0.03px; height: 0.75px; left: 101.07px; top: 124.76px; position: absolute; background: black"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; color: white; font-size: 24px; font-family: Campton; font-weight: 500; word-wrap: break-word">Dear Chima,</div>
            </div>
            <div style="align-self: stretch; height: 257px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                <div style="align-self: stretch; color: #B1B1B1; font-size: 16.03px; font-family: Campton; font-weight: 400; word-wrap: break-word">Introducing Yougazine - the ultimate prints product for the modern generation! Say goodbye to boring, generic prints and hello to a world of vibrant, personalized designs.<br/><br/>With Yougazine, you can create your own magazine-style prints that reflect your unique personality and style. From stunning fashion spreads to travel-inspired layouts, the possibilities are endless.<br/><br/>But that's not all - Yougazine also offers a wide range of high-quality materials to choose from, ensuring that your prints not only look great but also stand the test of time.</div>
                <div style="width: 290px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px; background: #CB29BE; border-radius: 100px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                    <div style="text-align: center; color: white; font-size: 12.83px; font-family: Campton; font-weight: 500; word-wrap: break-word">Continue</div>
                </div>
            </div>
            <div style="align-self: stretch; color: #B1B1B1; font-size: 16.03px; font-family: Campton; font-weight: 400; word-wrap: break-word">Please contact us with any questions, we're always happy to help.<br/><br/>Cheers,<br/>The Trendit team</div>
        </div>
        <div style="align-self: stretch; height: 95px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
            <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="flex: 1 1 0; text-align: center; color: #575757; font-size: 9px; font-family: Inter; font-weight: 400; word-wrap: break-word">Privacy Policy • Contact us • Read our Blog</div>
            </div>
            <div style="align-self: stretch; text-align: center; color: #575757; font-size: 9px; font-family: Inter; font-weight: 400; word-wrap: break-word">Copyright 2024 Atlassian Pty Ltd. All rights reserved. We are located at<br/>341 George Street, Sydney, NSW, 2000, Australia</div>
            <div style="justify-content: flex-start; align-items: center; gap: 9px; display: inline-flex">
                <div style="width: 14px; height: 14px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 14px; height: 14px; position: relative">
                        <div style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; opacity: 0.58"></div>
                        <div style="width: 11.67px; height: 11.67px; left: 1.17px; top: 1.17px; position: absolute; background: #B1B1B1"></div>
                        <div style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #B1B1B1"></div>
                    </div>
                </div>
                <div style="width: 14px; height: 14px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 14px; height: 14px; position: relative">
                        <div style="width: 11.66px; height: 11.67px; left: 1.17px; top: 1.17px; position: absolute; background: #B1B1B1"></div>
                        <div style="width: 14px; height: 14px; left: 14px; top: 14px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; opacity: 0; background: #B1B1B1"></div>
                    </div>
                </div>
                <div style="width: 14px; height: 14px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 14px; height: 14px; position: relative">
                        <div style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; opacity: 0.58"></div>
                        <div style="width: 11.67px; height: 9.33px; left: 1.17px; top: 2.33px; position: absolute; background: #B1B1B1"></div>
                        <div style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #B1B1B1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </body>
</html>