<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Terms of Service</h1>
    </header>
    <div id="main">
        <p>Welcome to TEST AUTH!</p>
        <p>By accessing or using our Flask app, you agree to be bound by these Terms of Service. If you disagree with any part of the terms, then you may not access the Flask app.</p>
        <ol>
            <li><strong>Use of Our Flask App:</strong> You agree to use our Flask app only for lawful purposes and in a way that does not infringe upon the rights of others or inhibit their use and enjoyment of the Flask app.</li>
            <li><strong>OAuth2 Authorization Testing:</strong> Our Flask app is designed for testing OAuth2 authorization from different OAuth providers. You agree not to misuse this functionality for any illegal or unauthorized purpose.</li>
            <li><strong>Intellectual Property:</strong> The content, features, and functionality of our Flask app are the property of TEST AUTH and are protected by copyright and other intellectual property laws.</li>
            <li><strong>Third-Party Links:</strong> Our Flask app may contain links to third-party websites or services that are not owned or controlled by TEST AUTH. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party websites or services.</li>
            <li><strong>Changes to Terms:</strong> We reserve the right to modify or replace these Terms of Service at any time. It is your responsibility to check these Terms of Service periodically for changes. Your continued use of the Flask app after we post any modifications to the Terms of Service on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified terms.</li>
            <li><strong>Contact Us:</strong> If you have any questions about these Terms of Service, please contact us at email@gmail.com.</li>
        </ol>
    </div>
    <footer>
        <a href="{{ url_for('privacy') }}">Privacy Policy</a> | <a href="{{ url_for('t_o_s') }}">Terms of Service</a>
    </footer>
</body>
</html>
